<div class="container my-3 p-3 rounded" id="header">
    <h1 class="display-3 mx-auto my-0 p-1 text-center">Eat Da Burger!</h1>
    <img class="mx-auto my-0 p-0 d-block" id="burger-image" src="/assets/images/ramen_burger.jpg" alt="burger">
</div>

<div class="container">
    <div class="row">
        <div class="col-5 ml-3 rounded menu">
            <h3>Burgers on Da Menu!</h3>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="p-2">
                    <strong>{{burger_name}}</strong>
                    <button class="devour-burger btn btn-danger" data-id="{{id}}" data-eaten="true">
                        EAT ME!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col"></div>
        <div class="col-5 mr-3 rounded menu">
            <h3>Burgers that Have Been Eaten!</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="p-2">
                    <strong>{{burger_name}}</strong>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto my-3 pb-3 rounded menu">
            <h2>Add a Burger to the Menu!</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="new-burger">Burger Name:</label>
                    <input type="text" class="form-control" id="new-burger" name="burger_name">
                </div>
                <button class="btn btn-primary" type="submit">Add Burger</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="page-footer font-small rounded pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Eat-Da-Burger App</h5>
                    <p class="ts-none">Thank you for coming to Eat-Da-Burger. Eat-Da-Burger is a burger menu app. Thank
                        you come again!</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Portfolio</h5>

                    <ul class="list-unstyled ts-none">
                        <li>
                            <a href="https://jdb443.github.io/">https://jdb443.github.io/</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Github</h5>

                    <ul class="list-unstyled ts-none">
                        <li>
                            <a href="https://github.com/jdb443/Burger">Github Repo</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://jdb443.github.io">Jonathan Behar</a>
        </div>
        <!-- Copyright -->

    </div>
    <!-- Footer -->
</div>